body {
    background-color: rgb(232, 228, 228);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('./imgtelalogin.jpg');
    color: rgba(246, 236, 236, 0.831);
    background-size: cover;
    background-position: center;
}

/* Estiliza o contêiner principal */
.container {
    width: 400px;
    background-color: transparent;
    border: 2px solid rgba(247, 240, 240, 0.853);
    color: beige;
    padding: 30px 35px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estiliza o cabeçalho dentro do contêiner */
.container h1 {
    font-size: 46px;
    margin: 0 0 20px;
}

/* Estiliza as caixas de entrada */
.input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

/* Estiliza os campos de entrada */
.input-box input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: rgb(240, 233, 238);
    padding: 5px 10px;
    box-sizing: border-box;
}

/* Estiliza o ícone dentro da caixa de entrada */
.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Estiliza a seção "Lembrar minha senha" */
.input-box.remember-me {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
}

/* Estiliza o checkbox */
.input-box.remember-me input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 25px;
    margin-left: 5px;
}

/* Estiliza o rótulo do checkbox */
.input-box label {
    margin: 0;
    color: aliceblue;
}

